@charset "UTF-8";

h1 {
  font-family: Brush Script MT;
  font-size: 80pt;
  color: orange;
  text-shadow: 4px 4px 4px black;
  text-align: center;
}
h2 {
  text-align: center;
}
body {
  background-color: #a1d3ef;
}

/* Formatação de imagens */
figure.logo img{
  width: 100%;
  heidth: 100%;
}
