@charset "UTF-8";

h1 {
  font-family: Brush Script MT;
  font-size: 80pt;
  color: orange;
  text-shadow: 4px 4px 4px black;
  text-align: center;
}
h2 {
  text-align: center;
}
body {
  background-color: #a1d3ef;
}

/* Formatação de imagens */

figure.logo img {
  width: 20%;
  margin: auto;
  display: block;
}

/* Formatação do Menu */

nav#menu ul {
  list-style: none;
  text-transform: uppercase;
  position: absolute;
  left: 400 px;
}

nav#menu li {
  display: inline-block;
  background-color: #dddddd;
  padding: 10 px;
  margin: 2 px;
}
